@import '../../../assets/sass/mixinns.scss';
@import '../../../assets/sass/variables.scss';

.main_loader_box {
  position: absolute;
  height: 90%;
  width: 90%;
  @include flexBox(nowrap, row, center, center);
  .loader {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    border-top: 6px solid #fc6736;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
