@import '../../assets/sass/mixinns.scss';
@import '../../assets/sass/variables.scss';

.main_signup_box {
  height: 100%;
  @include flexBox(nowrap, row, center, center);
  .signup_box {
    position: relative;
    min-height: 400px;
    width: 350px;
    padding: 20px;
    color: $main_font_color;
    background-color: $app_background;
    box-shadow: $main_font_color 0px 0px 4px;
    .main_form_box {
      height: 100%;
      width: 100%;
      padding: 10px;
      .input_box {
        height: 70px;
        width: 100%;
        padding: 4px;
        @include flexBox(nowrap, column, center, start);
        .error_text_box {
          padding: 0 4px;
          .error_text {
            letter-spacing: 1px;
            font-weight: 600;
            color: $input_error_color;
          }
        }
        .label {
          letter-spacing: 1px;
          font-weight: 400;
          padding: 0 4px;
          color: $secondary_font_color;
        }
        .email_input,
        .first_name_input,
        .last_name_input {
          border: none;
          border-bottom: 1px solid $main_font_color;
          outline: none;
          width: 100%;
          height: 36px;
          padding: 0 6px;
          font-size: 1rem;
          font-weight: 600;
          letter-spacing: 1.4px;
          color: $secondary_font_color;
          &::placeholder {
            font-size: 0.9rem;
            opacity: 0.5;
            font-style: oblique;
            color: $secondary_font_color;
          }
        }
        .password_input_box {
          position: relative;
          width: 100%;
          height: 36px;
          color: $secondary_font_color;
          @include flexBox(nowrap, row, center, center);
          .password_input {
            position: relative;
            border: none;
            border-bottom: 1px solid $main_font_color;
            outline: none;
            width: 100%;
            height: 36px;
            padding: 0 6px;
            font-size: 1rem;
            font-weight: 600;
            letter-spacing: 1.4px;
            color: $secondary_font_color;
            &::placeholder {
              font-size: 0.9rem;
              opacity: 0.5;
              font-style: oblique;
              color: $secondary_font_color;
            }
          }
          .open_eye_icon,
          .closed_eye_icon {
            position: absolute;
            right: 1px;
            height: 26px;
            width: 26px;
            color: $main_font_color;
            cursor: pointer;
            background-color: $app_background;
          }
        }
      }
      .signup_button_box {
        height: auto;
        width: 100%;
        padding: 6px;
        .signup_button {
          border: 1px solid $main_font_color;
          width: 100%;
          height: 36px;
          margin-top: 8px;
          padding: 0 6px;
          border-radius: 4px;
          font-size: 1rem;
          font-weight: 600;
          letter-spacing: 1.2px;
          color: $app_background;
          background-color: $main_font_color;
          cursor: pointer;
          @include flexBox(nowrap, column, center, center);
          &:hover {
            transition: 0.4s;
            background-color: $button_background_hover_color;
          }
          &:not(:hover) {
            transition: 0.5s;
          }
        }
      }
      .info_box {
        width: 100%;
        padding: 6px;
        letter-spacing: 1px;
        text-align: center;
        font-size: 0.8rem;
        color: $secondary_font_color;
        .login_link {
          color: $main_font_color;
          font-weight: 700;
        }
      }
    }
    @media screen and (max-width: 450px) {
      box-shadow: none;
    }
  }
}
