@import '../src/assets/sass/mixinns.scss';
@import '../src/assets/sass/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_app_box {
  height: 100vh;
  width: 100vw;
  background-color: $app_background_color;
}
