@import '../../assets/sass/mixinns.scss';
@import '../../assets/sass/variables.scss';

.main_detailed_blog_box {
  // border: 1px solid;
  min-height: calc(100vh - 230px);
  width: 100%;
  color: $secondary_font_color;
  @include flexBox(nowrap, column, none, center);
  .main_popup_box {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 1600px;
    z-index: 10;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    @include flexBox(nowrap, column, center, center);
    .popup_window {
      position: relative;
      height: 180px;
      width: 340px;
      background: #fff;
      @include flexBox(nowrap, column, space-between, center);
      .info_text_box {
        height: 140px;
        width: 100%;
        letter-spacing: 1px;
        @include flexBox(nowrap, column, center, center);
      }
      .popup_window_button_box {
        height: 60px;
        width: 100%;
        @include flexBox(nowrap, row, space-around, center);
        .delete_blog_button,
        .cancel_delete_blog_button {
          width: 150px;
          height: 40px;
          letter-spacing: 1px;
          font-weight: 600;
          font-size: 1rem;
          color: $app_background;
          cursor: pointer;
          background-color: $main_font_color;
          @include flexBox(nowrap, column, center, center);
          &:hover {
            background-color: $button_background_hover_color;
            transition: 0.4s;
          }
          &:not(:hover) {
            transition: 0.5s;
          }
        }
      }
    }
  }
  .detailed_blog_box {
    // border: 1px solid;
    width: 700px;
    min-height: 600px;
    @include flexBox(nowrap, column, center, center);
    .blog_image_box {
      // border: 1px solid;
      height: 200px;
      width: 100%;
      object-fit: cover;
      mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 25%,
        transparent 100%
      );
      .blog_image {
        height: 200px;
        width: 100%;
        object-fit: cover;
        opacity: 0.8;
      }
    }
    .blog_title_box {
      // border: 1px solid;
      height: 80px;
      width: 100%;
      padding: 0 20px;
      color: $main_font_color;
      @include flexBox(nowrap, column, center, start);
      @media screen and (max-width: 480px) {
        @include flexBox(nowrap, column, center, center);
      }
      @media screen and (max-width: 410px) {
        @include flexBox(nowrap, column, center, center);
      }
    }
    .blog_content_box {
      // border: 1px solid;
      min-height: 200px;
      width: 100%;
      padding: 0 20px;
      margin: 0 0 20px 0;
      font-weight: 600;
      @include flexBox(nowrap, column, center, start);
    }
    .blog_footer_box {
      // border: 1px solid;
      height: 80px;
      width: 100%;
      padding: 0 20px;
      @include flexBox(nowrap, row, space-between, center);
      .footer_likes_box {
        // border: 1px solid;
        height: 100%;
        width: auto;
        @include flexBox(nowrap, row, center, center);
        .thumb_up_icon_box {
          // border: 1px solid;
          height: 30px;
          width: 30px;
          @include flexBox(nowrap, row, center, center);
          .thumb_up_icon {
            height: 22px;
            width: 22px;
            color: $main_font_color;
            cursor: pointer;
            &:hover {
              height: 24px;
              width: 24px;
              transition: 0.5s;
            }
            &:not(:hover) {
              transition: 0.5s;
            }
          }
        }
        .likes_amount_box {
          // border: 1px solid;
          height: 30px;
          color: $main_font_color;
          min-width: 30px;
          font-weight: 600;
          font-style: italic;
          @include flexBox(nowrap, row, center, center);
        }
      }
      .footer_info_box {
        // border: 1px solid;
        height: 100%;
        width: auto;
        @include flexBox(nowrap, row, center, center);
        .details_box {
          // border: 1px solid;
          min-width: 200px;
          height: 60px;
          .user_full_name_box {
            // border: 1px solid;
            height: 30px;
            min-width: 180px;
            padding: 0 20px;
            font-size: 0.8rem;
            font-weight: 600;
            color: $main_font_color;
            font-style: italic;
            @include flexBox(nowrap, row, end, end);
            @media screen and (max-width: 480px) {
              font-size: 0.7rem;
              padding: 0 6px;
            }
          }
          .blog_date_box {
            // border: 1px solid;
            height: 30px;
            min-width: 180px;
            padding: 0 20px;
            font-size: 0.8rem;
            font-weight: 600;
            color: $main_font_color;
            font-style: italic;
            @include flexBox(nowrap, row, end, start);
            @media screen and (max-width: 480px) {
              font-size: 0.7rem;
              padding: 0 6px;
            }
          }
        }
        .user_profile_image_box {
          // border: 1px solid;
          border-radius: 50%;
          height: 60px;
          width: 60px;
          background-color: $app_background;
          box-shadow: $main_font_color 0px 0px 6px 0px;
          @include flexBox(nowrap, column, center, center);
          .user_profile_image {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            @media screen and (max-width: 410px) {
              height: 40px;
              width: 40px;
            }
          }
          .user_icon {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            color: $main_font_color;
          }
          @media screen and (max-width: 410px) {
            height: 50px;
            width: 50px;
          }
        }
      }

      @media screen and (max-width: 700px) {
        max-width: 550px;
      }
      @media screen and (max-width: 560px) {
        max-width: 460px;
      }
      @media screen and (max-width: 480px) {
        max-width: 400px;
      }
      @media screen and (max-width: 410px) {
        max-width: 350px;
        padding: 0 8px;
      }
    }
    .manage_blog_box {
      // border: 1px solid;
      width: 100%;
      height: 50px;
      padding: 0 20px;
      margin: 20px 0;
      @include flexBox(nowrap, row, end, center);
      .manage_blog_button_box {
        // border: 1px solid;
        height: 50px;
        width: 120px;
        @include flexBox(nowrap, row, space-between, center);
        .edit_blog_button,
        .remove_blog_button {
          height: 50px;
          width: 50px;
          border-radius: 50%;
          background-color: $main_font_color;
          color: $app_background;
          box-shadow: $main_font_color 0px 0px 6px 0px;
          cursor: pointer;
          @include flexBox(nowrap, row, center, center);
          .edit_blog_icon,
          .remove_blog_icon {
            height: 26px;
            width: 26px;
          }
          &:hover {
            background-color: $button_background_hover_color;
            transition: 0.4s;
          }
          &:not(:hover) {
            transition: 0.5s;
          }
        }
      }
    }
    @media screen and (max-width: 700px) {
      max-width: 550px;
    }
    @media screen and (max-width: 560px) {
      max-width: 460px;
    }
    @media screen and (max-width: 480px) {
      max-width: 400px;
    }
    @media screen and (max-width: 410px) {
      max-width: 350px;
    }
  }
  .main_commentary_text_area_box {
    // border: 1px solid;
    position: relative;
    height: auto;
    width: auto;
    @include flexBox(nowrap, column, center, center);
  }
  .commentary_band_box {
    // border: 1px solid;
    width: auto;
    height: auto;
    @include flexBox(nowrap, column, center, center);
  }
}
