@import '../../assets/sass/mixinns.scss';
@import '../../assets/sass/variables.scss';

.main_my_blogs_box {
  height: 100%;
  width: 100%;
  color: $secondary_font_color;
  letter-spacing: 1px;
  @include flexBox(wrap, row, center, center);
  .my_blogs_info_box {
    min-height: 150px;
    @include flexBox(nowrap, column, space-between, center);
  }
  .my_blogs_box {
    height: 100%;
    width: 100%;
    letter-spacing: 1px;
    @include flexBox(nowrap, column, center, center);
  }
  .add_blog_button {
    margin: 20px;
    height: 440px;
    width: 380px;
    color: $main_font_color;
    cursor: pointer;
    box-shadow: $main_font_color 0px 0px 4px 0px;
    @include flexBox(nowrap, column, center, center);
    &:hover {
      box-shadow: $main_font_color 0px 0px 8px 0px;
      background-color: $button_background_hover_color;
      color: $app_background;
      transition: 0.5s;
      .add_icon {
        color: $app_background;
        transition: 0.5s;
      }
    }
    &:not(:hover) {
      transition: 0.5s;
      .add_icon {
        transition: 0.5s;
      }
    }
    .add_icon {
      height: 60px;
      width: 60px;
      color: $main_font_color;
    }
  }
  .my_blogs_grid_box {
    height: 100%;
    width: 100%;
    @include flexBox(wrap, row, center, center);
  }
}
