@import '../../assets/sass/mixinns.scss';
@import '../../assets/sass/variables.scss';

.main_blog_card_box {
  margin: 20px;
  height: 440px;
  width: 380px;
  text-decoration: none;
  background-color: $app_background;
  box-shadow: $secondary_font_color 0px 0px 4px 0px;
  @include flexBox(nowrap, column, center, center);
  .blog_card_image_box {
    height: 180px;
    width: 100%;
    object-fit: cover;
    @include flexBox(nowrap, column, center, center);
    .blog_image {
      width: 100%;
      height: 180px;
      object-fit: cover;
    }
  }
  .blog_card_details_box {
    padding: 0 10px;
    height: 220px;
    width: 100%;
    @include flexBox(nowrap, column, start, start);
    .blog_card_title_box {
      height: 40px;
      width: 100%;
      @include flexBox(nowrap, column, end, start);
      .blog_card_title {
        color: $secondary_font_color;
        letter-spacing: 1px;
      }
    }
    .blog_card_author_box {
      height: 30px;
      width: 100%;
      @include flexBox(nowrap, column, center, start);
      .blog_card_author {
        color: $main_font_color;
        letter-spacing: 1px;
        opacity: 0.9;
        font-style: italic;
        font-weight: 600;
      }
    }
    .blog_card_text_body_box {
      height: 140px;
      width: 100%;
      inline-size: 100%;
      word-wrap: break-word;
      @include flexBox(wrap, column, start, start);
      .blog_card_text_body {
        color: $secondary_font_color;
        letter-spacing: 1px;
        font-size: 0.9rem;
        opacity: 0.9;
        font-weight: 500;
        text-align: justify;
      }
    }
  }
  .blog_card_bottom_box {
    height: 60px;
    width: 100%;
    padding: 0 16px;
    @include flexBox(nowrap, row, space-between, center);
    .likes_box {
      height: 30px;
      min-width: 50px;
      @include flexBox(nowrap, row, space-around, center);
      .like_icon {
        height: 20px;
        width: 20px;
        color: $main_font_color;
      }
      .likes_amount {
        padding: 0 6px;
        color: $secondary_font_color;
        font-style: italic;

        font-weight: 600;
      }
    }
    .read_more_box {
      height: 30px;
      min-width: 30px;
      @include flexBox(nowrap, column, center, center);
      .book_icon {
        height: 26px;
        width: 26px;
        color: $main_font_color;
      }
    }
  }
  &:hover {
    box-shadow: $secondary_font_color 0px 2px 10px 2px;
    transition: 0.4s;
  }
  &:not(:hover) {
    transition: 0.5s;
  }
  @media screen and (max-width: 410px) {
    width: 350px;
  }
}
