@import '../../assets/sass/mixinns.scss';
@import '../../assets/sass/variables.scss';
.main_blogs_box {
  height: 100%;
  width: 100%;
  @include flexBox(nowrap, column, space-between, center);
  .blogs_box {
    min-height: calc(100vh - 290px);
    width: 100%;
    @include flexBox(wrap, row, center, center);
  }
  .paginator_box {
    height: 50px;
    width: 100%;
    @include flexBox(nowrap, column, center, center);
  }
}
