@import '../../assets/sass/mixinns.scss';
@import '../../assets/sass/variables.scss';
.main_layout_box {
  width: 100%;
  height: 100%;
  .main_outlet_box {
    padding: 50px;
    // border: 1px solid;
    height: 92%;
    width: 100%;
    @include flexBox(nowrap, row, center, center);
  }
}
