@import '../../assets/sass/mixinns.scss';
@import '../../assets/sass/variables.scss';

.main_navbar_box {
  height: 150px;
  width: 100%;
  padding: 0 50px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1.2px;
  @include flexBox(nowrap, column, center, center);
  .main_navbar_link_box {
    width: 100%;
    font-size: 0.8rem;
    @include flexBox(nowrap, row, space-between, center);
    .main_logo_box {
      padding: 6px;
      height: 40px;
      text-decoration: none;
      @include flexBox(nowrap, row, center, center);
      .logo {
        color: $main_font_color;
      }
      .pen_icon {
        height: 26px;
        width: 26px;
        color: $main_font_color;
      }
      @media screen and (max-width: 680px) {
        padding: 0;
      }
    }
    .navbar_link_box {
      min-width: 150px;
      @include flexBox(nowrap, row, center, center);
      .active_user_link_box,
      .inactive_user_link_box {
        min-width: 150px;
        height: 100%;
        @include flexBox(nowrap, row, center, center);
        .link_box {
          height: 30px;
          margin: 0 10px;
          text-decoration: none;
          box-shadow: $main_font_color 0px 0.4px 0px 0px;
          @include flexBox(nowrap, row, center, center);
          .link_text {
            color: $main_font_color;
          }
          &:hover {
            box-shadow: $main_font_color 0px 4px 0px 0px;
            transition: 0.4s;
          }
          &:not(:hover) {
            transition: 0.5s;
          }
        }
        .active_link {
          box-shadow: $main_font_color 0px 3px 0px 0px;
        }
        .logout_button {
          cursor: pointer;
        }
      }
      @media screen and (max-width: 680px) {
        display: none;
      }
    }
    .burger_menu_icon {
      height: 32px;
      width: 32px;
      color: $main_font_color;
      cursor: pointer;
      transition: 0.5s;
      @media screen and (min-width: 681px) {
        display: none;
        transition: 0.5s;
      }
    }
  }
  .main_greeting_box {
    height: 60px;
    min-width: 100%;
    font-size: 1rem;
    letter-spacing: 1.2px;
    padding-right: 6px;
    font-weight: 500;
    font-style: italic;
    color: $secondary_font_color;
    opacity: 0.8;
    @include flexBox(nowrap, row, end, center);
    @media screen and (max-width: 680px) {
      @include flexBox(nowrap, row, center, center);
    }
  }
  .secondary_loader_placeholder {
    width: 100%;
    height: 4.8px;
  }
  @media screen and (max-width: 680px) {
    padding: 0 30px;
  }
}
